{% extends "base.html" %}

{% block content %}
<h1>Game Over</h1>
    <p>Game status: 
    {% if game.game_status == "Lost" %}
        Unfortunately, you have been HANGED.... Your word was: {{ game.word }}
        <img src="{{ url_for('static', filename='you_are_dead.png') }}" alt="You are dead">
    {% else %}
        Congratulations! You have won the game.... Your word was: {{ game.word }}
    {% endif %}
</p>

<h2 style="font-size: 18px;">Games Played Today</h2> <!-- Adjust font size here -->

<table style="border-collapse: collapse; width: 100%;">
  <tr>
    <th style="border: 1px solid black; padding: 8px;">Game Num.</th>
    <th style="border: 1px solid black; padding: 8px;">Game Status</th>
    <th style="border: 1px solid black; padding: 8px;">Word</th>
    <th style="border: 1px solid black; padding: 8px;">HP Left</th>
    <th style="border: 1px solid black; padding: 8px;">Guesses Left</th>
  </tr>
  {% for game in today_games %}
  <tr>
    <td style="border: 1px solid black; padding: 8px;">{{ loop.index }}</td>
    <td style="border: 1px solid black; padding: 8px; {% if game.game_status == 'Won' %}background-color: lightgreen;{% elif game.game_status == 'Lost' %}background-color: lightcoral;{% endif %}">{{ game.game_status }}</td>
    <td style="border: 1px solid black; padding: 8px;">{{game.word}}</td>
    <td style="border: 1px solid black; padding: 8px;">{{game.hp}}</td>
    <td style="border: 1px solid black; padding: 8px;">{{game.guesses}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}