{% extends "base.html" %} 
{% block content %}

<h2 style="font-size: 23px;">Game history</h2> <!-- Adjust font size here -->

<table style="border-collapse: collapse; width: 100%;">
  <tr>
    <th style="border: 1px solid black; padding: 8px;">Game Status</th>
    <th style="border: 1px solid black; padding: 8px;">Word</th>
    <th style="border: 1px solid black; padding: 8px;">HP Left</th>
    <th style="border: 1px solid black; padding: 8px;">Guesses Left</th>
  </tr>
  {% for game in game_history %}
  <tr>
    <td style="border: 1px solid black; padding: 8px;">{{game.game_status}}</td>
    <td style="border: 1px solid black; padding: 8px;">{{game.word}}</td>
    <td style="border: 1px solid black; padding: 8px;">{{game.hp}}</td>
    <td style="border: 1px solid black; padding: 8px;">{{game.guesses}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}