{% extends "base.html" %}

{% block content %}
<div class="top-10-container">
    <h2 class="top-10-title">Top 10 Players with MOST Wins!</h2>

    <table class="top-10-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player Name</th>
                <th>Wins</th>
            </tr>
        </thead>
        <tbody>
            {% for index, player in enumerate(top10_players, start=1) %}
            <tr>
                <td>{{ index }}</td>
                <td>{{ player.first_name }} {{ player.last_name }}</td>
                <td>{{ player.wins }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="motivational-section">
        <h3 class="motivational-text">If you are not here... WELL...</h3>
        <img src="{{ url_for('static', filename='try_harder.png') }}" alt="Try Harder">
    </div>
</div>

<!-- CSS -->
<style>
    /* Container styles */
    .top-10-container {
        margin-top: 20px;
        padding: 20px;
        text-align: center;
    }

    /* Title styles */
    .top-10-title {
        font-size: 34px;
        margin-bottom: 20px;
    }

    /* Table styles */
    .top-10-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px;
    }

    th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

    /* Motivational section styles */
    .motivational-section {
        margin-top: 50px;
    }

    .motivational-text {
        font-size: 25px;
        margin-bottom: 10px;
    }

    img {
        width: 200px; /* Adjust as needed */
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>

{% endblock %}
